<div class="how-to-play-info-invis">
    <div class="how-to-play-info">
      <h2>How To Play BlackJack</h2>
      <ul>
        <li>The goal of blackjack is to beat the dealer's hand without going over 21.</li>
        <li>Face cards are worth 10. Aces are worth 1 or 11, whichever makes a better hand.</li>
        <li>Each player starts with two cards, one of the dealer's cards is hidden until the end.</li>
        <li>To 'Hit' is to ask for another card. To 'Stand' is to hold your total and end your turn.</li>
        <li>If you go over 21 you bust, and the dealer wins regardless of the dealer's hand.</li>
        <li>If you are dealt 21 from the start (Ace & 10), you got a blackjack.</li>
        <li>Dealer will hit until his/her cards total 17 or higher.</li>
      </ul>
      <button class="rulez" type="button" name="button">Let Me Play</button>
    </div>
</div>
