<a ui-sref="home" class="main-link flleft"> &lt; Back To Game</a>

  <h1>Player Stats</h1>
  <div class="stats-box">
    <table>
      <tr>
        <th ng-click="sortBy('userName')">Name        <span class="sortorder" ng-show="propName === 'name'" ng-class="{reverse: reverse}"></span>
</th>
        <th ng-click="sortBy('userWins')">Wins</th>
        <th ng-click="sortBy('userLosses')">Losses</th>
      </tr>
      <tr ng-repeat="game in storageItemsArray | orderBy:propName:reverse">
        <td ng-class-odd="'odd'" ng-class-even="'even'">{{game.userName}}</td>
        <td ng-class-odd="'odd'" ng-class-even="'even'">{{game.userWins}}</td>
        <td ng-class-odd="'odd'" ng-class-even="'even'">{{game.userLosses}}</td>
      </tr>
      <!-- <tr ng-repeat="na in s">
        <td ng-class-odd="'odd'" ng-class-even="'even'">{{na.user}}</td>
        <td ng-class-odd="'odd'" ng-class-even="'even'">{{na.win}}</td>
        <td ng-class-odd="'odd'" ng-class-even="'even'">{{na.loss}}</td>
      </tr> -->
      <!-- <tr ng-repeat="na in names">
        <td ng-class-odd="'odd'" ng-class-even="'even'">{{na.Name}}</td>
        <td ng-class-odd="'odd'" ng-class-even="'even'">{{na.City}}</td>
        <td ng-class-odd="'odd'" ng-class-even="'even'">{{na.Country}}</td>
      </tr> -->
      <!-- <tr ng-model="gameStatsStorage" style="color: white;">
        <td>{{gameStatsStorage.userName}}</td>
        <td>{{gameStatsStorage.userWins}}</td>
        <td>{{gameStatsStorage.userLosses}}</td>
      </tr> -->

    </table>

  </div>
